@import '../../marketplace.css';

.root {
  display: flex;
  flex-direction: column;
}

.listingCards {
  display: grid;
  padding: 0 1rem;
  gap: 1rem;

  grid-template-columns: 1fr 1fr;

  @media (--viewportLarge) {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 2rem;
  }
}

.listingCard {
}

.pagination {
  /* margin-top: auto; pushes pagination to the end of the page. */
  margin-top: auto;
  background-color: var(--matterColorLight);
  padding: 0 24px;

  @media (--viewportLarge) {
    padding: 0 36px;
  }
}
